body {
  background:#12284c !important;
  font-weight: 200!important;
  
  -webkit-font-smoothing: antialiased;
}


@media (max-width: 768px) {
  body {
    font-size: 0.8em;
    line-height: 1.2em;
  }
}

img.site-logo {
  width: 180px;
  position: fixed;
  top:10px;
  left: 10px;
}


#mainNav {background: transparent!important;}
#mainNav.navbar-shrink {
    border-color:#f5333f !important;
}
#mainNav.navbar-shrink .nav-link.active {
    
    border-color:#f5333f !important;
}
#mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.8);
    background:#f5333f;
    border-radius: 20px;
    margin-left: 10px;
    height: 20px;
    max-width: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: none;
    text-align: center;
}

#mainNav .nav-link a:active{
  color:#FFF;
}


.hightlight {
    background:#FFF!important;
}

.nav-link li {
    max-width: 20px!important;
}

a {
 text-decoration: none;
}

a:hover{
  opacity: 1;
  color:#FFF!important;
}

.play {
  color:#FFF;
  position:inherit;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  line-height: 22px;
  animation: bounce 2s infinite linear;
}
.btn-play a{
  opacity: 1;
  color:#FFF!important;
}


.btn-play  {
  font-size: 2rem;
}
.btn {
  font-size: 0.8em;
  padding: 1em 1em;
  line-height:1em!important;

}
.mention {
  font-size: xx-small;
}
.copyright {
  position: fixed;
  z-index: 50;
  padding: 0.5em;
  bottom:20px;
  right: 20px;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.95em;
  font-family: "Open Sans", "Tajawal", "Arial", sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color:#CCC;
  background-color:#00000069;
  border-radius: 0;
}
.copyright a{
  color:#CCC!important;
  text-decoration: none;
}
.copyright a:hover{
  color: #f5333f!important;
  text-decoration: none;
}
.ifrc-footer a, .ifrc-footer a:hover {
  background: transparent;
  color: #CCC;
}

.masthead {
padding-top: 10px!important;
padding-bottom: 0px!important;
}

@media (min-width: 768px) {
  .masthead {
    padding-top: 4%!important;
    padding-bottom: 0px!important;
    }
  }

  @media (min-width: 992px) {
      .masthead {
        padding-top: 5%!important;
        padding-bottom: 0px!important;
        }    
    
}
@media (min-width: 1295px) {
  .masthead {
    padding-top: 5%!important;
    padding-bottom: 0px!important;
    }
    
}
@media (min-width: 1400px) {
  .masthead {
    padding-top: 0%!important;
    padding-bottom: 0px!important;
    }
    
}

  @media (max-width: 768px) {
    .masthead {
      padding-top: 85px!important;
      padding-bottom: 0px!important;
      }
      
  }
  
  
.boxplay {
  position: absolute;
  height: 50px;
  width: 50px;
  z-index: 110;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color:#FFF;
}

.bangladesh {
    /* background: linear-gradient(to left, rgba(12, 19, 35, 0.8) 0%, rgb(12, 19, 35, 1) 75%), url("../assets/img/Satkhira/situation-cyclone-satkira.jpg"); */
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment:fixed;
    height: fit-content;
    
  }




.argentina {
    /* background: linear-gradient(to left,  rgba(12, 19, 35, 0.7) 0%, rgb(12, 19, 35, 1) 75%),url("../assets/img/ARG_7810.jpg"); */
    height: fit-content;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
  }


  .container-country {
    position:relative;
    z-index: 20;
}




@media (min-width: 992px) {
  body {
    font-size: 0.9em;
    line-height: 1.2em;
  }
  .container-country {
    margin-left: 30%;
    width: 70%;
    max-width: 800px;
}
}
@media (min-width: 1200px) {
  .container-country {
    margin-left: 20vw;
    width: 65%;
    max-width: 1280px;
}
}

@media (min-width: 992px) {
  .carousel-inner {
    width: 100%;
    overflow: hidden;
  }
  .carousel-indicators {
    margin-top: 20px;
    position: fixed;
    bottom: -20px;
    z-index: 50;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
  }
  }

@media (min-width: 1400px) {
.carousel-inner {
  position:relative;
  width: 100%;
  overflow: hidden;
}
.carousel-indicators {
  position: relative;
  right: 0;
  bottom: 20px;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}
}




#chart {
height: 30%;
position: relative;
padding-top:0em;
bottom:0;
margin-left: auto;
margin-right: auto;

  }
  
.front-line {
    right:-50px;
    bottom:-2em;
    max-height: 70%;
    position:fixed;
    z-index:13;
  }
.bottom-line {
    right:-10px;
    bottom:-2em;
    max-width: 25%;
    min-width: 20%;
    position: fixed;
    z-index: 3;
  }


  
.indexheader {
  width:  80%;
  margin: auto;
  text-align: center;
  }


/* WORLD MAP */

.worldmap { 
  
  z-index: 110;
    --heightmap: 100%;
  }

  .map-world {
    opacity: 0.4;
    filter:contrast(50%);
  }




 #circle_container-argentina {
    width: 3%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    position: relative;
    left:32%;
    top:-16%;
  }

#circle_container-bangladesh {
    width: 3%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    position: relative;
    left:73%;
    top:-60%;
  }

  /* COUNTRY MAP */
 .map { 
    top:0;
    left:0;
    height: 100%;
    position: fixed;
    z-index: 10;
  }

@media (max-width: 992px) {
    .map { display: none;
    }
    .container-country {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
  }
  }  

.map-bangladesh {
    height: 100%;
    opacity: 0.2;
    filter: invert(100%);
    filter: saturate(30%);
  }

  .map-argentina {
    position: relative;
  opacity: 0.2;
  filter: saturate(10%);
  left:-30px;
  width:350px;
  padding-top:120px;
}

  #circle_container-buenos {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:356px;
    left: 210px;
  }

  #circle_container-corrientes {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:200px;
    left: 210px;
  }

  #circle_container-salta {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:159px;
    left: 93px;
  }
  #circle_container-neuquen {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:446px;
    left: 37px;
  }
  #circle_container-mendoza {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:326px;
    left: 35px;
  }
  #circle_container-santafe {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:290px;
    left: 167px;
  }


#circle_container-tangail {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom:64%;
    --height: 100vh;
    left:calc(var(--height) / 0.7356 * 0.21);
  }

  #circle_container-satkhira {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom:40%;
    --height: 100vh;
    left:calc(var(--height) / 0.7356 * 0.13);
  }


  #circle_container {
    width: 3%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    position: relative;
    bottom:58%;
    left:15%;
  }

  .circle, .circle a{
    border-radius: 50%;
    background-color: #d50909;
    width: 25px;
    height: 25px;
    position: absolute;
    opacity: 0;
    animation: scaleIn 4s infinite cubic-bezier(.26, .11, .19, .12);
  }
  
  
 .icon {
  height: 45px;
  background-color: #ddd;
  padding: 5px;
  border-radius: 50%;
}

  .keymessages {
    padding-left: 10px;
    vertical-align: middle;
    font-weight: bold;
  }
  .number-icons { 
    opacity: 0.5;
  }
  .icons { 
      bottom:20px;
      left:0;
      width: 50%;
      height: 10%;
      position: fixed;
      z-index: 1025;
    }
  

  .btn-close {
    top: 5px;
    right: 5px;
    text-align: center;
    vertical-align: middle;
    height: 25px;
    width: 25px;
    padding: 2px;
    padding-top:-10px;
    line-height: normal;
    position: absolute;
    font-size: 1.5em;
    background: none;
    color: #212529;
    margin-right: 0px;
    cursor: pointer;
  }

@keyframes scaleIn {
    from {
      transform: scale(.5, .5);
      opacity: .5;
    }
    to {
      transform: scale(1.5, 1.5);
      opacity: 0;
    }
  }

  @keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-15px);} 
    60% {transform: translateY(-15px);} 
 }
  .item {
    z-index: 1021;
  }

  .item img {
    width: 10px;
  }



.card {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-height: 250px;
    /*transform-style: preserve-3d;*/
    border: none;
    background-color: inherit;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.26);
    border-top: 1px solid #212529;
    border-left: 1px solid #212529;
    /*border-right: 1px solid #999;
    border-bottom: 1px solid #999;*/
    
    padding: 1.1em 0;
    transform-style: preserve-3d;
    align-items: center;
}

.card .face {
    margin-top:10px ;
    /*position: absolute;*/
    color: #fff;
    width: 95%;
    
    object-position: center;
    overflow: hidden;
    transform-style: preserve-3d;
    /*transition: 0.5s;
    backface-visibility:visible;*/

}


.card .profile {
  position: absolute;
  bottom: 0;
  left:0;
  border-bottom-left-radius: 15px;
    min-width: 70px;
    min-height: 100px;
    max-width: 150%;
    max-height: 145px;
    object-fit:cover;
    object-position: center;
}

.card .profile-right {
  position: absolute;
  bottom: 0;
  right:0;
  border-bottom-right-radius: 15px;
    min-width: 100px;
    min-height: 100px;
    max-height: 145px;
    object-fit:cover;
    object-position: center;
}


.card .block-name {
  position: relative;
  bottom: 20px;
  padding: 10px;
  margin-left: 45% ;
  width: 50%;
}
.card .block-name-right {
  padding: 10px;
  margin-right: 45% ;
  width: 50%;
}
.card .name {
    letter-spacing: 2px;
}

.card .designation {
    font-size: 1em;
    color: #ddd;
    letter-spacing: 0.8px;
}

.card .testimonial {
    padding-left: 25px;
    padding-top: 10px;
    padding-left: 10px;
    font-style: italic;
    vertical-align: middle;
}

.card .fa-quote-left {
    position: absolute;
    top: -5px;
    left: 0px;
    font-size:  2rem;    
    opacity: 0.3;
}

.card .fa-quote-right {
    position: relative;
    bottom: 0px;
    left:90%;
    font-size:2rem;
    opacity: 0.3;
}


/* charts */


/* Stories Popup */

.bs-example{
  margin: 20px;
}
.modal-dialog iframe{
  margin: auto;
  display: block;
}
/* The Modal (background) */
.modal {
  --bs-modal-width: none;
  --bs-modal-padding: none;
  --bs-modal-border-width: 0px;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background: #00000069;
  border: none;
  vertical-align: middle;
  padding: 0px;
}

.modal-backdrop {
  display: none;
}

/* Modal Content/Box */
.modal-content {
  margin: auto; /* 15% from the top and centered */
  
  background-color: transparent!important;
}

.modal-header {
  border: none;
} 
.modal-dialog {
background: transparent;
top:15%;
  width: 40%;
}

.modal .video {
  border: 10px #FFF solid;
  border-radius: 5px;
  filter:drop-shadow(10px 5px 30px #00000069);
} 
.modal .popup-tangail {
  padding:20px;
  position: fixed;
  top:15%;  
  width: 500px;
  --widthpopup: calc(400px / 2);
  left:calc(50% - var(--widthpopup));
  overflow:hidden !important;
  overflow-y:auto;
  max-height: 80% !important; /* Could be more or less, depending on screen size */
  background-color: #fefefe!important;
  color: #212529;
}

.close {margin-top:-30px;margin-right:-30px;font-weight: 700;float: right; padding: 5px; width: 45px; text-align: center; color:#FFF!important; cursor: pointer;} 
.close:hover{color:#CCC!important;} 

